{% extends 'base.html' %}

{% block content %}
<h1 class="text-center">Flight Management System</h1>
<img src="https://media.istockphoto.com/id/1714990127/photo/big-airplane-leaves-the-ground-in-the-sky-at-sunset.webp?a=1&b=1&s=612x612&w=0&k=20&c=0Y72SIqWbdyuIpw2l36yD3AfamZCb1u0H2mFgq34qwQ=" height="300" width="
1000" alt=""/>
<div class="d-flex justify-content-center">
    <a href="/land" class="btn btn-success mx-2">Land</a>
    <a href="/takeoff" class="btn btn-primary mx-2">Take Off</a>
</div>
{% endblock %}
